* {
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/photos/hakumai-picture-id1215148144?b=1&k=6&m=1215148144&s=170667a&w=0&h=dsXg0DbN-dEN6tUuyk7aTclZN0LXh1abJ2OCV6prtCk=);
    background-size: cover;
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.container {
    max-width: 1117px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    padding-top: 180px;
    padding-bottom: 100px;
    color: black;
    text-align: center;
}

.main h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.main p {
    opacity: 0.7;
    margin-bottom: 3px
}

header {
    height: 8vh;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    color: white;
    display: inline;
}

.fa {
    width: 25px;
    margin-top: 20px;
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.jumbotron h1 {
    font-size: 150%;
}

.jumbotron h2, h3, h4 {
    color: yellow;
}

.footer {
    background-color: rgba(34, 49, 52, 0.9);
    height: 120px;
    padding: 40px;
    color: white;
}
.footer-logo {
    font-size: 20px;
    float: left;
}
.footerlist {
    float: left;
    padding: 5px;
}
.footerlist li {
    color: white;
    padding: 33px 20px;
    float: left;
}
